    #slideshow {
        overflow: hidden;
        height: 510px;
        width: 1240px;
        margin: 15px auto;
    }
    
    .slide-wrapper {
        width: 2480px;
        animation: slide 14s ease infinite;
    }
    
    .img {
        display: flex;
        flex-direction: row;
    }
    
    .slide {
        width: 1240px;
        padding-top: 30%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    @keyframes slide {
        20% {
            margin-left: 0px;
        }
        50% {
            margin-left: -1240px;
        }
        80% {
            margin-left: -1240px;
        }
    }